---
import Layout from '../layouts/Layout.astro';
import Home from '../components/pages/Home.tsx';
import '@/styles/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<Home />
	</main>
</Layout>


